body {
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: center;
  margin-top: 2%;
  font-size: 46px;
  font-weight: 800 !important;
}

.navbar-nav {
  margin-left: 5%;
}

.nav-item {
  margin-left: 10%;
  font-weight: 400;
}

.navbar-brand {
  font-weight: 500;
  margin-left: 1%;
}

.active {
  font-weight: 700;
  text-decoration: underline;
}

.card-main-header {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.card-column-item {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #e3ffee;
  border-radius: 25px;
  font-weight: 900;
  width: 18em;
  height: 7em;
  margin-left: 2%;
  margin-right: 2%;
}

.card-column {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.card-container {
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3%; 
  margin-bottom: 5%;
}

.graph-container {
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
  align-items: center;
}

.card-wrapper,
.graph-wrapper {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card-column-body {
  font-size: 18px;
  font-weight: 400;
}

.card-column-body-amount {
  font-size: 32px;
  font-weight: 700;
}
