body {
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: center;
  margin-top: 2%;
  font-size: 46px;
  font-weight: 800 !important;
}

.navbar-nav {
  margin-left: 5%;
}

.nav-item {
  margin-left: 10%;
  font-weight: 400;
}

.navbar-brand {
  font-weight: 500;
  margin-left: 1%;
}

.active {
  font-weight: 700;
  text-decoration: underline;
}

.container {
  margin-top: 2%;
}

.data-container {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 2% 15% 2%;
  margin-left: 8%;
  margin-right: 8%;
}

.table {
  font-size: 14px;
}

.sticky-header {
  position: sticky;
  top: 66px;
  background-color: #ffffff;
}

.btn-info {
  background-color: #8a68ff;
  color: #ffffff;
  border-color: #8a68ff;
}

.btn-info:hover {
  background-color: #5524ff;
  color: #ffffff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.modal-header {
  background-color: #8a68ff;
}

.modal-title {
  color: #ffffff;
}

.modal-dialog {
  margin-top: 8%;
}
